<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <input type="text" ng-model="case">
        <h2>{{ case | lowercase }}</h2>
        <h3>{{ case | uppercase }}</h3>

        <!-- currency filter -->
        <input type="text" ng-model="price">
        <h2>{{ price | currency }}</h2>
        <h2>{{ price | currency:"&pound;"}}</h2>

        <!-- date filter -->
        <h3>{{ today | date }}</h3>
        <h3>{{ today | date : "dd/MM/y"}}</h3>
        <h3>{{ today | date:"short"}}</h3>
        <h3>{{ today | date:"medium"}}</h3>
        <h3>{{ today | date:"shortDate"}}</h3>
        <h3>{{ today | date:"mediumDate"}}</h3>
        <h3>{{today | date:"longDate"}}</h3>
        <h3>{{today | date:"fullDate"}}</h3>
        <h3>{{today | date:"mediumTime"}}</h3>
    </div>
    <script>
        var app=angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.case = 'RaM Avatar';
            $scope.price = 10;
            $scope.today = new Date();
        });
    </script>
</body>
</html>