<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <input type="text" ng-model="demo">
    <h1 ng-bind="demo"></h1>
    <p>Hello {{demo}}</p>

    <div ng-controller="myCtrl">
        <input type="text" ng-model="money">
        <h2>{{money}}</h2>
        <h3>mero naaam {{x}} ho!</h3>
    </div>

    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.money= "100.00";
            $scope.x = "ChiranJivi";
            $scope.demo = 'cv'
        })
    </script>
</body>
</html>